@font-face {
    font-family: HelveticaNeueLTStd97BlackCondensedOblique;
    src: url("../../assets/fonts/HelveticaNeueLTStd97BlackCondensedOblique.otf") format("opentype");
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.header, .subheader {
    font-family: HelveticaNeueLTStd97BlackCondensedOblique, Helvetica;
    text-shadow: 0px 1px 1px #4d4d4d;
}

.subheader {
    color: #00efff;
}

.tagline {
    color: #ffffff;
}

h2.header {
    padding-top: 3.8em;
    margin-bottom: 0.1em !important;
}

h3.header {
    margin-top: 0px;
    margin-bottom: 1em !important;
}

.banner {
    height: 650px;
}

.homepage-links-container {
    display: flex;
    flex-direction: column;
}

.open-source-count-container {
    display: flex;
    flex-direction: row;
}

.contact-link {
    cursor: pointer;
    text-decoration: none;
}

.footer-container {
    height: 80px;
    padding-top: 26px;
}

.main-content-wrap {
    @include container;

    padding: 0px !important;
    padding: 0px !important;

    @include mq(md) {
        padding: 0px !important;
        padding: 0px !important;
    }
}