@font-face {
    font-family: HelveticaNeueLTStd97BlackCondensedOblique;
    src: url("../../assets/fonts/HelveticaNeueLTStd97BlackCondensedOblique.otf") format("opentype");
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.header,
.subheader {
    font-family: HelveticaNeueLTStd97BlackCondensedOblique, Helvetica;
    text-shadow: 0px 1px 1px #4d4d4d;
}

.header {
    padding-top: 3.8rem;
    margin-top: 0rem !important;
    margin-bottom: 0.1rem !important;
}

.subheader {
    color: #00efff;
    margin-top: 0px !important;
}

.tagline {
    color: #ffffff;
    margin-top: 1em !important;
}

.banner {
    height: 40.625rem;
}

.homepage-links-container {
    display: flex;
    flex-direction: column;
    padding: 3.75rem 5rem 7.5rem 5rem;
}

.homepage-projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-link {
    cursor: pointer;
    text-decoration: none;
}

.dark-mode,
.light-mode {
    cursor: pointer;

    &:hover,
    &:focus {
        font-size: 21px;
        transition: all 0.1s ease-out;
    }
}

.main-content-wrap {
    @include container;

    padding: 0px !important;
    padding: 0px !important;

    @include mq(md) {
        padding: 0px !important;
        padding: 0px !important;
    }
}

.homepage-header-container,
.footer-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homepage-header-container {
    padding: 0rem 5rem;
}

.footer-container {
    padding: 0rem 0.625rem;
}

.homepage-links-container+hr,
main+hr {
    display: none;
}

.homepage-header-links {
    display: flex;
}

.homepage-header-links > a {
    padding: 1.875rem 1.25rem;
    color: #ffffff !important;
    text-align: center;
    text-decoration: none;

    &:hover, &:focus {
        color: #00efff !important;
    }
}


.homepage-header-logo {
    width: 130px !important;
    height: 40px;
}

.homepage-header-brand,
.footer-link-section {
    display: flex;
    flex: 1;
}

.homepage-dropdown,
.header-dropdown {
    float: right;
    overflow: hidden;
}

.language-div {
    color: #ffffff;
    height: 100%;
    background-color: inherit;
    border: none;
    padding: 0rem 0.625rem;
    display: flex;
    align-items: center;
}

.language-btn {
    color: #ffffff;
    height: 100%;
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
}

.shared-language-btn {
    height: 100%;
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
}

.change-language-btn {
    cursor: pointer;
}

.homepage-dropdown-content,
.header-dropdown-content {
    display: none;
    position: absolute;
    min-width: 140px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    border: 1px solid #54619a;
    border-radius: 6px;
}

.homepage-dropdown-content {
    right: 5.6rem;
    margin-top: -18px;
}

.header-dropdown-content {
    right: 0.7rem;
    margin-top: -8px;
}

.homepage-dropdown-content a,
.header-dropdown-content a {
    float: none;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show {
    display: block;
}

.open-source-div {
    max-width: 425px;
    width: 100%;
    padding: 1.875rem;
    border-radius: 26px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.open-source-label {
    width: 100%;
    margin-top: 1.688rem;
}

.open-source-count {
    font-weight: 700;
    display: flex;
    justify-content: end;
    width: 100%;
}

.project-icon-div {
    display: flex;
    justify-content: start;
    width: 100%;
}

.project-icon-div image {
    height: 40px;
    width: 40px;
}

.homepage-anchors-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 26px;
    padding: 1.875rem 1.875rem 4.375rem 1.875rem;
    align-items: start;
}

.links-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 33.33%;
}

.links-section>div {
    width: 100%;
    text-align: center;
}

.links-header,
.links-item {
    text-decoration: none;
}

.links-header {
    font-weight: 700;
}

.links-item {
    display: block;
}

.links-header-icon {
    width: 21px;
    height: 21px;
    margin-bottom: -3px;
}

@media (min-width: 1065px) {
    .side-bar {
        max-width: 23.75rem;
    }

    .main {
        margin-left: 26rem;
    }

    .site-header,
    .site-nav {
        width: 18.75rem;
    }
}

.side-bar {
    border-right: none;
}

.site-header {
    border-bottom: none;
}

.btn {
    font-weight: 700;
}

.site-title {
    padding: 1.25rem 2rem 0rem 1.563rem;

    &:hover {
        background-image: none !important;
    }
}

.main {
    max-width: calc(100vw - 34rem);
}

.homepage-links-container+hr+footer>.footer-container {
    padding: 0rem 5rem;
}

.search-input {
    padding-left: 2.7em !important;
}

.search-label {
    padding-left: 0.6rem !important;
}

#home-menu-button {
    display: none;
}

@media (min-width: 1065px) and (max-width: 75rem) {
    .main {
        max-width: calc(100vw - 27rem);
        margin-left: 23.5rem;
    }

    .side-bar {
        min-width: 19.5rem;
    }
}

@media (min-width: 50rem) and (max-width: 66.5rem) {
    .main {
        max-width: calc(100vw - 20rem);
        margin-left: 17.5rem;
    }
}

@media (max-width: 799.4px) {
    .main {
        width: 100%;
        max-width: none;
    }

    .main-content-wrap {
        width: 100%;
        padding: 0.938rem 1.875rem 0px 1.875rem !important;
    }

    .main-header {
        margin: 0.625rem;
    }

    .site-nav {
        padding-top: 0.938rem;
    }

    body {
        padding-bottom: 0rem;
        padding-top: 0.3rem;
    }

    .header-dropdown {
        float: left;
        margin-top: 2rem;
        padding-left: 0rem !important;
    }

    .header-dropdown-content {
        left: 35px;
        margin-top: 10px;
        right: auto;
    }

    .main-header {
        margin-bottom: 6rem;
    }
}

@media (max-width: 75rem) {
    .homepage-header-container {
        padding: 0rem 2rem;
    }

    .homepage-links-container + hr + footer > .footer-container {
        padding: 0rem 2rem;
    }
}

@media (min-width: 66.5rem) and (max-width: 75rem) {
    .homepage-header-links, .homepage-header-links > a {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.875em;
    }

    .homepage-links-container {
        padding: 3.5rem 4rem 6rem 4rem;
    }

    .links-header {
        font-size: 1rem;
    }

    .links-item {
        font-size: 0.875rem;
    }

    .open-source-count {
        font-size: 2rem;
    }
}

@media (min-width: 36rem) and (max-width: 50rem) {
    .homepage-header-links, .homepage-header-links > a {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.875em;
    }

    .homepage-links-container {
        padding: 3.5rem 4rem 6rem 4rem;
    }

    .links-header {
        font-size: 1rem;
    }

    .links-item {
        font-size: 0.875rem;
    }

    .open-source-count {
        font-size: 2rem;
    }
}