@font-face{
    font-family: HelveticaNeueLTStd97BlackCondensedOblique;
    src: url("../../assets/fonts/HelveticaNeueLTStd97BlackCondensedOblique.otf") format("opentype");
}

.header {
    color: #00efff;
    font-family: HelveticaNeueLTStd97BlackCondensedOblique, Helvetica;
    text-shadow: 0px 1px 1px #4d4d4d;
}

h2.header {
    padding-top: 5.1em;
    margin-bottom: 0.1em !important;
}

h3.header {
    margin-top: 0px;
    margin-bottom: 0.3em !important;
}

.banner {
    height: 650px;
}

.banner-dark {
    background-image: url("../../assets/images/ic_banner_night.png");
    background-size: cover;
}

.homepage-links-container {
    display: flex;
    flex-direction: column;
}

.open-source-count-container {
    display: flex;
    flex-direction: row;
}