@font-face {
    font-family: HelveticaNeueLTStd97BlackCondensedOblique;
    src: url("../../assets/fonts/HelveticaNeueLTStd97BlackCondensedOblique.otf") format("opentype");
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.header,
.subheader {
    font-family: HelveticaNeueLTStd97BlackCondensedOblique, Helvetica;
    text-shadow: 0px 1px 1px #4d4d4d;
}

.header {
    padding-top: 3.8em;
    margin-top: 0px !important;
    margin-bottom: 0.1em !important;
}

.subheader {
    color: #00efff;
    margin-top: 0px !important;
}

.tagline {
    color: #ffffff;
    margin-top: 1em !important;
}

.banner {
    height: 40.625rem;
}

.homepage-links-container {
    display: flex;
    flex-direction: column;
    padding: 60px 80px 120px 80px;
    
}

.homepage-projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-link {
    cursor: pointer;
    text-decoration: none;
}

.dark-mode,
.light-mode {
    cursor: pointer;
}

.main-content-wrap {
    @include container;

    padding: 0px !important;
    padding: 0px !important;

    @include mq(md) {
        padding: 0px !important;
        padding: 0px !important;
    }
}

.homepage-header-container,
.footer-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 80px;
}

.homepage-links-container+hr {
    display: none;
}

.homepage-header-links {
    display: flex;
}

.homepage-header-links a {
    padding: 30px 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.homepage-header-logo {
    width: 130px !important;
    height: 40px;
}

.homepage-header-brand,
.footer-link-section {
    display: flex;
    flex: 1;
}

.homepage-dropdown {
    float: right;
    overflow: hidden;
}

.language-div {
    color: #ffffff;
    height: 100%;
    background-color: inherit;
    border: none;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.language-btn {
    color: #ffffff;
    height: 100%;
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
}

.change-language-btn {
    cursor: pointer;
}

.homepage-dropdown-content {
    display: none;
    position: absolute;
    min-width: 140px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    border: 1px solid #54619a;
    border-radius: 26px;
    right: 5.6rem;
    margin-top: -18px;
    border-radius: 6px;
}

.homepage-dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show {
    display: block;
}

.open-source-div {
    max-width: 425px;
    width: 100%;
    padding: 30px;
    border-radius: 26px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.open-source-label {
    width: 100%;
    margin-top: 27px;
}

.open-source-count {
    font-weight: 700;
    display: flex;
    justify-content: end;
    width: 100%;
}

.project-icon-div {
    display: flex;
    justify-content: start;
    width: 100%;
}

.project-icon-div image {
    height: 40px;
    width: 40px;
}

.homepage-anchors-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 26px;
    padding: 30px 30px 70px 30px;
    align-items: start;
}

.links-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 33.33%;
}

.links-section > div {
    width: 100%;
    text-align: center;
}

.links-header, .links-item {
    text-decoration: none;
}

.links-header {
    font-weight: 700;
}

.links-item {
    display: block;
}

.links-header-icon {
    width: 21px;
    height: 21px;
    margin-bottom: -3px;
}