@import "./color_schemes/dark";

$body-background-color: #000621;

.header {
    color: #00efff;
}

.banner {
    background-image: url("../../assets/images/ic_banner_night.png");
    background-size: cover;
}

.footer-container {
    border-top: 1px solid #54619a;
}

.contact-link {
    color: #ffffff;
}

.homepage-header-container {
    background-color: #000621;
}