@import "./color_schemes/dark";

$body-background-color: #000621;

.header {
    color: #00efff;
}

.banner {
    background-image: url("../../assets/images/ic_banner_night.png");
    background-size: cover;
}

.footer-container {
    border-top: 1px solid #54619a;
}

.contact-link {
    color: #e6e6e6;
}

.homepage-header-container {
    background-color: #000621;
}

.dark-mode {
    color: #00efff;
}

.light-mode {
    color: #e6e6e6;
}

.homepage-dropdown-content {
    background-color: #000621;
}

.homepage-dropdown-content a {
    color: #ffffff;
}

.open-source-div {
    border: solid 1px #54619a;
    background-color: #0e142f;
    color: #ffffff;
}