@import "./color_schemes/light";

$body-background-color: rgba(78, 173, 254, 0.1);

.header {
    color: #ffffff;
}

.banner {
    background-image: url("../../assets/images/ic_banner_day.png");
    background-size: cover;
}

.footer-container {
    border-top: 1px solid #ced0ce;
}

.contact-link {
    color: #757575;
}

.homepage-header-container {
    background-color: #4a4fa0;
}

.dark-mode {
    color: #999999;
}

.light-mode {
    color: #ffa800;
}

.homepage-dropdown-content {
    background-color: #ffffff;
}

.homepage-dropdown-content a {
    color: #000000 !important;
}

.open-source-div, .homepage-anchors-container {
    border: solid 1px #4eadfe;
    background-color: #ffffff;
    color: #000000;
}

.links-header {
    color: #4eadfe
}