@import "./color_schemes/light";

$white: #ffffff;
$black: #000000;
$homepage-body-background-color: #eef7ff;
$homepage-header-background-color: #4a4fa0;
$sky-blue: #4eadfe;
$hover-sidebar-links-color: #ebedf5;

.header {
    color: $white;
}

.banner {
    background-image: url("../../assets/images/ic_banner_day.png");
    background-size: cover;
}

.footer-container {
    border-top: 1px solid #ced0ce;
}

.contact-link {
    color: #757575;
}

.homepage-header-container {
    background-color: $homepage-header-background-color;
}

.dark-mode {
    color: #999999;
}

.light-mode {
    color: #ffa800;
}

.homepage-dropdown-content,
.header-dropdown-content {
    background-color: $white;
}

.homepage-dropdown-content a,
.header-dropdown-content a {
    color: $black !important;
}

.links-item {
    color: $black !important;

    &:hover,
    &:focus {
        color: $purple-000 !important;
    }
}

.open-source-div,
.homepage-anchors-container {
    border: solid 1px $sky-blue;
    background-color: $white;
    color: $black;
}

.links-header {
    color: $sky-blue;
}

.side-bar {
    background-color: $white !important;
}

.nav-list {
    .nav-list-link {

        padding-left: 1rem;

        &.active {
            font-weight: 600;
            text-decoration: none;
        }

        &:hover,
        &.active {
            background-color: $hover-sidebar-links-color;
            background-image: none !important;
        }
    }
}

.site-button {

    &:hover,
    &.active {
        background-color: $hover-sidebar-links-color;
        background-image: none !important;
    }
}

.shared-language-btn,
.chevron-icon {
    color: $black;
}

.homepage-links-container {
    background-color: $homepage-body-background-color;
}

.homepage-links-container+hr+footer>.footer-container {
    background-color: $homepage-body-background-color;
}

.main-header {
    background-color: $white !important;
}

.home-site-button > .icon {
    color: $white;
}

.overlay {
    background-color: $homepage-header-background-color;
}