@import "./color_schemes/light";

$body-background-color: rgba(78, 173, 254, 0.1);

.banner {
    background-image: url("../../assets/images/ic_banner_day.png");
    background-size: cover;
}

.footer-container {
    border-top: 1px solid #ced0ce;
}

.contact-link {
    color: #757575;
}