<div class="footer-container">
    <div class="footer-link-section">
        <a class="contact-link fs-3">{% t links.contact %}</a>
    </div>
    <div class="theme-section">
        <i class="fa-solid fa-moon dark-mode mr-2"></i>
        <i class="fa-solid fa-sun light-mode"></i>
    </div>

    <script>
        const toggleDarkMode = document.querySelector('.dark-mode');
        jtd.addEvent(toggleDarkMode, 'click', function () {
            jtd.setTheme('dark_theme');
        });

        const toggleLightMode = document.querySelector('.light-mode');
        jtd.addEvent(toggleLightMode, 'click', function () {
            jtd.setTheme('light_theme');
        });
    </script>
</div>