<div class="footer-container">
    <div class="links-section float-left v-align-middle">
        <a class="contact-link">{% t links.contact %}</a>
    </div>
    <div class="theme-section float-right v-align-middle">
        <a class="light-mode">Light</a>
        <a class="dark-mode">Dark</a>
    </div>

    <script>
        const toggleDarkMode = document.querySelector('.dark-mode');
        jtd.addEvent(toggleDarkMode, 'click', function () {
            jtd.setTheme('dark_theme');
        });

        const toggleLightMode = document.querySelector('.light-mode');
        jtd.addEvent(toggleLightMode, 'click', function () {
            jtd.setTheme('light_theme');
        });

    </script>
</div>