<div class="footer-container">
    <div class="footer-link-section">
        <a class="contact-link fs-3">{% t links.contact %}</a>
    </div>
    <div class="theme-section">
        <i class="fa-solid fa-moon dark-mode mr-2" title="Dark Mode"></i>
        <i class="fa-solid fa-sun light-mode" title="Light Mode"></i>
    </div>

    <script>
        let tempTheme = sessionStorage.getItem("theme");
        if (tempTheme && (tempTheme === "dark_theme" || tempTheme === "light_theme")) {
            jtd.setTheme(tempTheme);
        }

        onload = (event) => {
            const toggleDarkMode = document.querySelector('.dark-mode');
            jtd.addEvent(toggleDarkMode, 'click', function () {
                jtd.setTheme('dark_theme');
                sessionStorage.setItem("theme", "dark_theme");
            });

            const toggleLightMode = document.querySelector('.light-mode');
            jtd.addEvent(toggleLightMode, 'click', function () {
                jtd.setTheme('light_theme');
                sessionStorage.setItem("theme", "light_theme");
            });
        }
    </script>
</div>