<script src="https://kit.fontawesome.com/df40bd7bba.js" crossorigin="anonymous"></script>
<script>
    var currentURL = window.location.href;
    var isKorean = currentURL.includes('/ko');

    const LINK_DOCS = '/docs';
    const LINK_KO = '/ko';
    const LINKS = {
        ABOUT: {
            name: 'About',
            nameKo: '오소리 프로젝트 소개',
            url: '/about/',
        },
        MOTIVATION: {
            name: 'Motivation',
            nameKo: '추진 배경',
            url: '/about/motivation/',
        },
        CHARTER: {
            name: 'Charter',
            nameKo: '거버넌스',
            url: '/about/charter/',
        },
        MEMBERS: {
            name: 'Members',
            nameKo: '멤버 리스트',
            url: '/about/members/',
        },
        LOGO: {
            name: 'Logo',
            nameKo: '로고 소개',
            url: '/about/logo/',
        },

        GUIDE: {
            name: 'Guide',
            nameKo: '사용/기여 가이드',
            url: '/guide/',
        },
        USER_TIPS: {
            name: 'User Tips',
            nameKo: '활용 가이드',
            url: '/guide/user-tips/',
        },
        API_DOC: {
            name: 'API Doc',
            nameKo: 'API Doc',
            url: '/guide/api-doc/',
        },
        CONTRIBUTION_GUIDE: {
            name: 'Contribution Guide',
            nameKo: '컨트리뷰션 가이드',
            url: '/guide/contribution-guide/',
        },

        LICENSE: {
            name: 'License',
            nameKo: '오소리 라이선스',
            url: '/license/',
        },
        OSORI_LICENSE_AND_NOTICE: {
            name: 'OSORI License and Notice',
            nameKo: '오소리 데이터 라이선스 및 사용 주의 사항',
            url: '/license/osori-license-and-notice/',
        },
        NOTICE_ON_USAGE_RESTRICTION_BY_HEAVY_TRAFFIC: {
            name: 'Notice on Usage Restriction by Heavy Traffic',
            nameKo: '과도한 트래픽에 관한 제한 조항',
            url: '/license/notice-on-usage-restriction-by-heavy-traffic/',
        },
        NO_WARRANTY: {
            name: 'No Warranty',
            nameKo: '보증 부인',
            url: '/license/no-warranty/',
        },
        DOC_LICENSE: {
            name: 'Doc. License',
            nameKo: '문서 라이선스',
            url: '/license/doc-license/',
        },
        CODE_LICENSE: {
            name: 'Code License',
            nameKo: '코드 라이선스',
            url: '/license/code-license/',
        },

        NEWS: {
            name: 'News',
            nameKo: '소식',
            url: '/news/',
        },
        FAQ: {
            name: 'FAQ',
            nameKo: '자주 하는 질문',
            url: '/faq/',
        }
    };

    window.addEventListener('load', (event) => {
        if (currentURL.includes('/docs')) {
            var anchorList = document.getElementsByClassName('nav-list-link');
            console.log(anchorList);

            for (var i = 0; i < anchorList.length; i++) {
                if (isKorean) {
                    switch (anchorList[i].innerHTML) {
                        case LINKS.ABOUT.nameKo: 
                        case LINKS.ABOUT.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.ABOUT.url;
                            break;
                        case LINKS.MOTIVATION.nameKo: 
                        case LINKS.MOTIVATION.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.MOTIVATION.url;
                            break;
                        case LINKS.CHARTER.nameKo: 
                        case LINKS.CHARTER.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.CHARTER.url;
                            break;
                        case LINKS.MEMBERS.nameKo: 
                        case LINKS.MEMBERS.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.MEMBERS.url;
                            break;
                        case LINKS.LOGO.nameKo: 
                        case LINKS.LOGO.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.LOGO.url;
                            break;

                        case LINKS.GUIDE.nameKo: 
                        case LINKS.GUIDE.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.GUIDE.url;
                            break;
                        case LINKS.USER_TIPS.nameKo: c
                        case LINKS.USER_TIPS.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.USER_TIPS.url;
                            break;
                        case LINKS.API_DOC.nameKo: 
                        case LINKS.API_DOC.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.API_DOC.url;
                            break;
                        case LINKS.CONTRIBUTION_GUIDE.nameKo: 
                        case LINKS.CONTRIBUTION_GUIDE.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.CONTRIBUTION_GUIDE.url;
                            break;

                        case LINKS.LICENSE.nameKo: 
                        case LINKS.LICENSE.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.LICENSE.url;
                            break;
                        case LINKS.OSORI_LICENSE_AND_NOTICE.nameKo: 
                        case LINKS.OSORI_LICENSE_AND_NOTICE.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.OSORI_LICENSE_AND_NOTICE.url;
                            break;
                        case LINKS.NOTICE_ON_USAGE_RESTRICTION_BY_HEAVY_TRAFFIC.nameKo: 
                        case LINKS.NOTICE_ON_USAGE_RESTRICTION_BY_HEAVY_TRAFFIC.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.NOTICE_ON_USAGE_RESTRICTION_BY_HEAVY_TRAFFIC.url;
                            break;
                        case LINKS.NO_WARRANTY.nameKo: 
                        case LINKS.NO_WARRANTY.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.NO_WARRANTY.url;
                            break;
                        case LINKS.DOC_LICENSE.nameKo: 
                        case LINKS.DOC_LICENSE.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.DOC_LICENSE.url;
                            break;
                        case LINKS.CODE_LICENSE.nameKo:
                        case LINKS.CODE_LICENSE.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.CODE_LICENSE.url;
                            break;

                        case LINKS.NEWS.nameKo:
                        case LINKS.NEWS.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.NEWS.url;
                            break;
                        case LINKS.FAQ.nameKo:
                        case LINKS.FAQ.name:
                            anchorList[i].href = LINK_KO + LINK_DOCS + LINKS.FAQ.url;
                            break;
                    }
                    anchorList[i].innerHTML = anchorList[i].nameKo;
                }

                else {
                    switch (anchorList[i].innerHTML) {
                        case LINKS.ABOUT.name:
                            anchorList[i].href = LINK_DOCS + LINKS.ABOUT.url;
                            break;
                        case LINKS.MOTIVATION.name:
                            anchorList[i].href = LINK_DOCS + LINKS.MOTIVATION.url;
                            break;
                        case LINKS.CHARTER.name:
                            anchorList[i].href = LINK_DOCS + LINKS.CHARTER.url;
                            break;
                        case LINKS.MEMBERS.name:
                            anchorList[i].href = LINK_DOCS + LINKS.MEMBERS.url;
                            break;
                        case LINKS.LOGO.name:
                            anchorList[i].href = LINK_DOCS + LINKS.LOGO.url;
                            break;

                        case LINKS.GUIDE.name:
                            anchorList[i].href = LINK_DOCS + LINKS.GUIDE.url;
                            break;
                        case LINKS.USER_TIPS.name:
                            anchorList[i].href = LINK_DOCS + LINKS.USER_TIPS.url;
                            break;
                        case LINKS.API_DOC.name:
                            anchorList[i].href = LINK_DOCS + LINKS.API_DOC.url;
                            break;
                        case LINKS.CONTRIBUTION_GUIDE.name:
                            anchorList[i].href = LINK_DOCS + LINKS.CONTRIBUTION_GUIDE.url;
                            break;

                        case LINKS.LICENSE.name:
                            anchorList[i].href = LINK_DOCS + LINKS.LICENSE.url;
                            break;
                        case LINKS.OSORI_LICENSE_AND_NOTICE.name:
                            anchorList[i].href = LINK_DOCS + LINKS.OSORI_LICENSE_AND_NOTICE.url;
                            break;
                        case LINKS.NOTICE_ON_USAGE_RESTRICTION_BY_HEAVY_TRAFFIC.name:
                            anchorList[i].href = LINK_DOCS + LINKS.NOTICE_ON_USAGE_RESTRICTION_BY_HEAVY_TRAFFIC.url;
                            break;
                        case LINKS.NO_WARRANTY.name:
                            anchorList[i].href = LINK_DOCS + LINKS.NO_WARRANTY.url;
                            break;
                        case LINKS.DOC_LICENSE.name:
                            anchorList[i].href = LINK_DOCS + LINKS.DOC_LICENSE.url;
                            break;
                        case LINKS.CODE_LICENSE.name:
                            anchorList[i].href = LINK_DOCS + LINKS.CODE_LICENSE.url;
                            break;

                        case LINKS.NEWS.name:
                            anchorList[i].href = LINK_DOCS + LINKS.NEWS.url;
                            break;
                        case LINKS.FAQ.name:
                            anchorList[i].href = LINK_DOCS + LINKS.FAQ.url;
                            break;
                    }
                    anchorList[i].innerHTML = anchorList[i].name;
                }
            }
        }
    });
</script>