<script src="https://kit.fontawesome.com/df40bd7bba.js" crossorigin="anonymous"></script>
<script>
    var currentURL = window.location.href;
    var isKorean = currentURL.includes('/ko');

    const LINK_DOCS = '/docs';
    const LINK_KO = '/ko';
    const LINKS = {
        ABOUT: {
            name: 'About',
            nameKo: '오소리 프로젝트 소개',
            url: '/about/',
        },
        MOTIVATION: {
            name: 'Motivation',
            nameKo: '추진 배경',
            url: '/about/motivation/',
        },
        CHARTER: {
            name: 'Charter',
            nameKo: '거버넌스',
            url: '/about/charter/',
        },
        MEMBERS: {
            name: 'Members',
            nameKo: '멤버 리스트',
            url: '/about/members/',
        },
        LOGO: {
            name: 'Logo',
            nameKo: '로고 소개',
            url: '/about/logo/',
        },

        GUIDE: {
            name: 'Guide',
            nameKo: '사용/기여 가이드',
            url: '/guide/',
        },
        USER_TIPS: {
            name: 'User Tips',
            nameKo: '활용 가이드',
            url: '/guide/user-tips/',
        },
        API_DOC: {
            name: 'API Doc',
            nameKo: 'API Doc',
            url: '/guide/api-doc/',
        },
        CONTRIBUTION_GUIDE: {
            name: 'Contribution Guide',
            nameKo: '컨트리뷰션 가이드',
            url: '/guide/contribution-guide/',
        },

        LICENSE: {
            name: 'License',
            nameKo: '오소리 라이선스',
            url: '/license/',
        },
        OSORI_LICENSE_AND_NOTICE: {
            name: 'OSORI License and Notice',
            nameKo: '오소리 데이터 라이선스 및 사용 주의 사항',
            url: '/license/osori-license-and-notice/',
        },
        NOTICE_ON_USAGE_RESTRICTION_BY_HEAVY_TRAFFIC: {
            name: 'Notice on Usage Restriction by Heavy Traffic',
            nameKo: '과도한 트래픽에 관한 제한 조항',
            url: '/license/notice-on-usage-restriction-by-heavy-traffic/',
        },
        NO_WARRANTY: {
            name: 'No Warranty',
            nameKo: '보증 부인',
            url: '/license/no-warranty/',
        },
        DOC_LICENSE: {
            name: 'Doc. License',
            nameKo: '문서 라이선스',
            url: '/license/doc-license/',
        },
        CODE_LICENSE: {
            name: 'Code License',
            nameKo: '코드 라이선스',
            url: '/license/code-license/',
        },

        NEWS: {
            name: 'News',
            nameKo: '소식',
            url: '/news/',
        },
        FAQ: {
            name: 'FAQ',
            nameKo: '자주 하는 질문',
            url: '/faq/',
        }
    };

    var anchorList = document.getElementsByTagName('a');
    anchorList.forEach(anchor => {
        if (isKorean) {
            switch (anchor.innerHTML) {
                case LINKS.ABOUT.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.ABOUT.url;
                    break;
                case LINKS.MOTIVATION.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.MOTIVATION.url;
                    break;
                case LINKS.CHARTER.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.CHARTER.url;
                    break;
                case LINKS.MEMBERS.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.MEMBERS.url;
                    break;
                case LINKS.LOGO.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.LOGO.url;
                    break;

                case LINKS.GUIDE.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.GUIDE.url;
                    break;
                case LINKS.USER_TIPS.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.USER_TIPS.url;
                    break;
                case LINKS.API_DOC.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.API_DOC.url;
                    break;
                case LINKS.CONTRIBUTION_GUIDE.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.CONTRIBUTION_GUIDE.url;
                    break;

                case LINKS.LICENSE.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.LICENSE.url;
                    break;
                case LINKS.OSORI_LICENSE_AND_NOTICE.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.OSORI_LICENSE_AND_NOTICE.url;
                    break;
                case LINKS.NOTICE_ON_USAGE_RESTRICTION_BY_HEAVY_TRAFFIC.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.NOTICE_ON_USAGE_RESTRICTION_BY_HEAVY_TRAFFIC.url;
                    break;
                case LINKS.NO_WARRANTY.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.NO_WARRANTY.url;
                    break;
                case LINKS.DOC_LICENSE.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.DOC_LICENSE.url;
                    break;
                case LINKS.CODE_LICENSE.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.CODE_LICENSE.url;
                    break;

                case LINKS.NEWS.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.NEWS.url;
                    break;
                case LINKS.FAQ.nameKo:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.FAQ.url;
                    break;
            }
        } 
        
        else {
            switch (anchor.innerHTML) {
                case LINKS.ABOUT.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.ABOUT.url;
                    break;
                case LINKS.MOTIVATION.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.MOTIVATION.url;
                    break;
                case LINKS.CHARTER.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.CHARTER.url;
                    break;
                case LINKS.MEMBERS.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.MEMBERS.url;
                    break;
                case LINKS.LOGO.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.LOGO.url;
                    break;

                case LINKS.GUIDE.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.GUIDE.url;
                    break;
                case LINKS.USER_TIPS.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.USER_TIPS.url;
                    break;
                case LINKS.API_DOC.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.API_DOC.url;
                    break;
                case LINKS.CONTRIBUTION_GUIDE.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.CONTRIBUTION_GUIDE.url;
                    break;

                case LINKS.LICENSE.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.LICENSE.url;
                    break;
                case LINKS.OSORI_LICENSE_AND_NOTICE.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.OSORI_LICENSE_AND_NOTICE.url;
                    break;
                case LINKS.NOTICE_ON_USAGE_RESTRICTION_BY_HEAVY_TRAFFIC.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.NOTICE_ON_USAGE_RESTRICTION_BY_HEAVY_TRAFFIC.url;
                    break;
                case LINKS.NO_WARRANTY.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.NO_WARRANTY.url;
                    break;
                case LINKS.DOC_LICENSE.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.DOC_LICENSE.url;
                    break;
                case LINKS.CODE_LICENSE.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.CODE_LICENSE.url;
                    break;

                case LINKS.NEWS.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.NEWS.url;
                    break;
                case LINKS.FAQ.name:
                    anchor.href = LINK_DOCS + LINK_KO + LINKS.FAQ.url;
                    break;
            }
        }
    });
</script>