<div class="homepage-header-container">
    <div class="homepage-header-brand" role="banner">
        <a href="#"><img src="../assets/images/ic_logo_osori.png" alt="OSORI" class="homepage-header-logo"></a>
    </div>
    <nav class="homepage-header-links" aria-label="Main">
        <a href="{% tl about %}" class="fs-4">{% t title.about %}</a>
        <a href="{% tl guide %}" class="fs-4">{% t title.guide %}</a>
        <a href="{% tl license %}" class="fs-4">{% t title.license %}</a>
        <a href="{% tl news %}" class="fs-4">{% t title.news %}</a>
        <a href="{% tl faq %}" class="fs-4">{% t title.faq %}</a>
        <div class="homepage-dropdown pl-8">
            <div class="language-div">
                <button class="change-language-btn language-btn" onclick="showLanguageOptions()">
                    <img src="../assets/images/ic_langauge.png" class="pr-2">
                    {% if site.lang == site.languages[0] %}
                    {{ site.languageNames.ko }}
                    {% else %}
                    {{ site.languageNames.en }}
                    {% endif %}
                </button>
                <i class="change-language-btn fa-solid fa-chevron-down pl-3" onclick="showLanguageOptions()"></i>
            </div>
            <div class="homepage-dropdown-content" id="language-dropdown">
                {% if site.lang == site.languages[0] %}
                <a href="{{site.url}}/en"><i class="fa-solid fa-earth-asia mr-1"></i> {{ site.languageNames.en }}</a>
                {% else %}
                <a href="{{site.url}}"><i class="fa-solid fa-earth-americas mr-1"></i> {{ site.languageNames.ko }}</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="homepage-mobile-section">
        <button id="home-menu-button" class="home-site-button btn-reset" aria-label="Toggle menu" aria-pressed="false"
            onclick="openNavOverlay()">
            <svg viewBox="0 0 24 24" class="icon" aria-hidden="true">
                <use xlink:href="#svg-menu"></use>
            </svg>
        </button>
    </div>
</div>

<div id="homepage-overlay" class="overlay">
    <div class="homepage-header-brand pt-4 pl-6" role="banner">
        <a><img src="../assets/images/ic_logo_osori.png" alt="OSORI" class="homepage-header-logo"></a>
    </div>
    <div id="close-overlay-div" class="pt-4 pr-6">
        <a href="javascript:void(0)" class="close-btn" onclick="closeNavOverlay()">&times;</a>
    </div>

    <div id="homepage-overlay-content" class="overlay-content">
        <a href="{% tl about %}" class="fs-7">{% t title.about %}</a>
        <a href="{% tl guide %}" class="fs-7">{% t title.guide %}</a>
        <a href="{% tl license %}" class="fs-7">{% t title.license %}</a>
        <a href="{% tl news %}" class="fs-7">{% t title.news %}</a>
        <a href="{% tl faq %}" class="fs-7">{% t title.faq %}</a>
        {% if site.lang == site.languages[0] %}
        <a href="{{site.url}}/en" class="fs-7"><i class="fa-solid fa-earth-asia mr-1"></i> {{ site.languageNames.en }}</a>
        {% else %}
        <a href="{{site.url}}" class="fs-7"><i class="fa-solid fa-earth-americas mr-1"></i> {{ site.languageNames.ko }}</a>
        {% endif %}
    </div>

</div>

<script>
    function openNavOverlay() {
        document.getElementById("homepage-overlay-content").style.display = "flex";
        document.getElementById("close-overlay-div").style.display = "block";
        document.getElementById("homepage-overlay").style.width = "100%";
    }

    function closeNavOverlay() {
        document.getElementById("homepage-overlay-content").style.display = "none";
        document.getElementById("close-overlay-div").style.display = "none";
        document.getElementById("homepage-overlay").style.width = "0%";
    }

    function showLanguageOptions() {
        document.getElementById("language-dropdown").classList.toggle("show");
    }
    window.onclick = function (e) {
        if (!e.target.matches('.change-language-btn')) {
            var languageDropdown = document.getElementById("language-dropdown");
            if (languageDropdown.classList.contains('show')) {
                languageDropdown.classList.remove('show');
            }
        }
    }
</script>