<div class="homepage-header-container">
    <div class="homepage-header-brand">
        <a href="#" class="homepage-header-logo"><img src="../assets/images/ic_logo_osori.png" alt="OSORI"></a>
    </div>
    <div class="homepage-header-links">
        <a href="/about" class="fs-4">{% t links.about %}</a>
        <a href="/guide" class="fs-4">{% t links.guide %}</a>
        <a href="/license" class="fs-4">{% t links.license %}</a>
        <a href="/news" class="fs-4">{% t links.news %}</a>
        <a href="/faq" class="fs-4">{% t links.faq %}</a>
    </div>
</div>