<div class="homepage-links-container">
    <div class="homepage-projects-container">
        <div class="open-source-div mr-5">
            <div class="d-flex">
                <div class="project-icon-div">
                    <img src="../assets/images/ic_card_projects.png">
                </div>
                <div class="open-source-count fs-8">
                    1059
                </div>
            </div>
            <div class="open-source-label fs-4">
                {% t main.openSourceRepositories %}
            </div>
        </div>
        <div class="open-source-div">
            <div class="d-flex">
                <div class="project-icon-div">
                    <img src="../assets/images/ic_card_projects.png">
                </div>
                <div class="open-source-count fs-8">
                    2342
                </div>
            </div>
            <div class="open-source-label fs-4">
                {% t main.openSourceLicenses %}
            </div>
        </div>
    </div>
    <div class="homepage-links-container">
        <div class="links-section">
            <div class="links-header fs-5">
                <img src="../assets/images/ic_feature_about.png" class="mr-1">
                {% t links.about %}
            </div>
        </div>
        <div class="links-section">
            <div class="links-header fs-5">
                <img src="../assets/images/ic_feature_guide.png" class="mr-1">
                {% t links.guide %}
            </div>
        </div>
        <div class="links-section">
            <div class="links-header fs-5">
                <img src="../assets/images/ic_feature_license.png" class="mr-1">
                {% t links.license %}
            </div>
        </div>
        <div class="links-section">
            <div class="links-header fs-5">
                <img src="../assets/images/ic_feature_news.png" class="mr-1">
                {% t links.news %}
            </div>
        </div>
        <div class="links-section">
            <div class="links-header fs-5">
                <img src="../assets/images/ic_feature_faq.png" class="mr-1">
                {% t links.faq %}
            </div>
        </div>
    </div>
</div>