<input type="hidden" id="baseurl" name="baseurl" value="{{ site.baseurl }}" />
<div class="homepage-links-container">
    <div class="homepage-projects-container">
        <div id="open-source-repositories-div" class="open-source-div mr-5">
            <div class="d-flex">
                <div class="project-icon-div">
                    <img src="../assets/images/ic_card_projects.png">
                </div>
                <div id="repositories-count" class="open-source-count fs-8">
                </div>
            </div>
            <div class="open-source-label fs-4">
                {% t main.openSourceRepositories %}
            </div>
        </div>
        <div id="open-source-licenses-div" class="open-source-div second-open-souce-div">
            <div class="d-flex">
                <div class="project-icon-div">
                    <img src="../assets/images/ic_card_projects.png">
                </div>
                <div id="licenses-count" class="open-source-count fs-8">
                </div>
            </div>
            <div class="open-source-label fs-4">
                {% t main.openSourceLicenses %}
            </div>
        </div>
    </div>
    <div class="homepage-anchors-container mt-7">
        <div class="links-section">
            <div>
                <img src="../assets/images/ic_feature_about.png" class="mr-1 links-header-icon">
                <a href="{% tl about %}" class="links-header fs-5">{% t title.about %}</a>
            </div>
            <div class="mt-4">
                <a href="{% tl charter %}" class="links-item fs-4">{% t title.charter %}</a>
            </div>
        </div>
        <div class="links-section second-section">
            <div>
                <img src="../assets/images/ic_feature_guide.png" class="mr-1 links-header-icon">
                <a href="{% tl guide %}" class="links-header fs-5">{% t title.guide %}</a>
            </div>
            <div class="mt-4">
                <a href="{% tl api-doc %}" class="links-item fs-4">{% t title.apiDoc %}</a>
                <a href="{% tl contribution-guide %}" class="links-item fs-4">{% t title.contributionGuide %}</a>
            </div>
        </div>
        <div class="links-section third-section">
            <div>
                <img src="../assets/images/ic_feature_license.png" class="mr-1 links-header-icon">
                <a href="{% tl license %}" class="links-header fs-5">{% t title.license %}</a>
            </div>
        </div>
        <div class="links-section mt-10">
            <div>
                <img src="../assets/images/ic_feature_news.png" class="mr-1 links-header-icon">
                <a href="{% tl news %}" class="links-header fs-5">{% t title.news %}</a>
            </div>
        </div>
        <div class="links-section mt-10">
            <div>
                <img src="../assets/images/ic_feature_faq.png" class="mr-1 links-header-icon">
                <a href="{% tl faq %}" class="links-header fs-5">{% t title.faq %}</a>
            </div>
        </div>
    </div>

    <script>
        window.onload = (event) => {
            var baseurl = document.getElementById('baseurl').value;
            var currentDirectory = '/data/';
            fetch(`${baseurl}${currentDirectory}data.json`, {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                }
            })
                .then(res => res.json())
                .then(object => {
                    document.getElementById('repositories-count').innerHTML = object.openSourceRepository.count.toLocaleString("en-US");
                    document.getElementById('licenses-count').innerHTML = object.openSourceLicense.count.toLocaleString("en-US");

                    document.getElementById('open-source-repositories-div').addEventListener('click', function () {
                        window.open(
                            object.openSourceRepository.url,
                            '_blank'
                        );
                    });

                    document.getElementById('open-source-licenses-div').addEventListener('click', function () {
                        window.open(
                            object.openSourceLicense.url,
                            '_blank'
                        );
                    });
                });
        }
    </script>
</div>