<div class="homepage-links-container">
    <div class="osori-container">
        <div class="open-source-div mr-5">
            <div class="d-flex">
                <div class="project-icon-div">
                    <img src="../assets/images/ic_card_projects.png">
                </div>
                <div class="open-source-count fs-8">
                    1059
                </div>
            </div>
            <div class="open-source-label fs-4">
                Open Source Repositories
            </div>
        </div>
        <div class="open-source-div">
            <div class="d-flex">
                <div class="project-icon-div">
                    <img src="../assets/images/ic_card_projects.png">
                </div>
                <div class="open-source-count fs-8">
                    2342
                </div>
            </div>
            <div class="open-source-label fs-4">
                Open Source License
            </div>
        </div>

        <div class="osori-links-div">
            <div>About</div>
            <div>Guide</div>
            <div>License</div>
            <div>News</div>
            <div>FAQ</div>
        </div>
    </div>
</div>