<div class="homepage-header-container">
    <div class="homepage-header-brand">
        <a href="#"><img src="../assets/images/ic_logo_osori.png" alt="OSORI" class="homepage-header-logo"></a>
    </div>
    <div class="homepage-header-links">
        <a href="/about" class="fs-4">{% t links.about %}</a>
        <a href="/guide" class="fs-4">{% t links.guide %}</a>
        <a href="/license" class="fs-4">{% t links.license %}</a>
        <a href="/news" class="fs-4">{% t links.news %}</a>
        <a href="/faq" class="fs-4">{% t links.faq %}</a>
        <div id="changeLanguageClick" class="homepage-dropdown pl-8" onclick="showLanguageOptions()">
            <button class="changeLanguageBtn">
                <img src="../assets/images/ic_langauge.png" class="pr-2">
                English
                <i class="fa-solid fa-chevron-down pl-3"></i>
            </button>
            <div class="homepage-dropdown-content" id="languageDropdown">
                <a href="#">Korean</a>
            </div>
        </div>
    </div>

    <script>
        function showLanguageOptions() {
            document.getElementById("languageDropdown").classList.toggle("show");
        }
        window.onclick = function (e) {
            if (!e.target.matches('#changeLanguageClick')) {
                var languageDropdown = document.getElementById("languageDropdown");
                if (languageDropdown.classList.contains('show')) {
                    languageDropdown.classList.remove('show');
                }
            }
        }
    </script>
</div>