<input type="hidden" id="is-search-enabled" name="is-search-enabled" value="{{ site.search_enabled }}" />
<input type="hidden" id="is-search-rel-url" name="is-search-rel-url" value="{{ site.search.rel_url }}" />
<input type="hidden" id="search-tokenizer-separator" name="search-tokenizer-separator" value="{{ site.search.tokenizer_separator }}" />
<input type="hidden" id="site-variable" name="site-variable" value="{{ site }}" />

{% if site.search_enabled != false %}
<input type="hidden" id="title-home" name="title-home" value="{% t title.home %}" />
<input type="hidden" id="title-faq" name="title-faq" value="{% t title.faq %}" />
<input type="hidden" id="title-news" name="title-news" value="{% t title.news %}" />
<input type="hidden" id="title-contact" name="title-contact" value="{% t title.contact %}" />

<input type="hidden" id="title-about" name="title-about" value="{% t title.about %}" />
<input type="hidden" id="title-motivation" name="title-motivation" value="{% t title.motivation %}" />
<input type="hidden" id="title-charter" name="title-charter" value="{% t title.charter %}" />
<input type="hidden" id="title-members" name="title-members" value="{% t title.members %}" />
<input type="hidden" id="title-logo" name="title-logo" value="{% t title.logo %}" />

<input type="hidden" id="title-guide" name="title-guide" value="{% t title.guide %}" />
<input type="hidden" id="title-user-tips" name="title-user-tips" value="{% t title.userTips %}" />
<input type="hidden" id="title-api-doc" name="title-api-doc" value="{% t title.apiDoc %}" />
<input type="hidden" id="title-contribution-guide" name="title-contribution-guide"
    value="{% t title.contributionGuide %}" />

<input type="hidden" id="title-license" name="title-license" value="{% t title.license %}" />
<input type="hidden" id="title-osori-license-and-notice" name="title-osori-license-and-notice"
    value="{% t title.osoriLicenseAndNotice %}" />
<input type="hidden" id="title-notice-on-usage-restriction-by-heavy-traffic"
    name="title-notice-on-usage-restriction-by-heavy-traffic"
    value="{% t title.noticeOnUsageRestrictionByHeavyTraffic %}" />
<input type="hidden" id="title-no-warranty" name="title-no-warranty" value="{% t title.noWarranty %}" />
<input type="hidden" id="title-doc-license" name="title-doc-license" value="{% t title.docLicense %}" />
<input type="hidden" id="title-code-license" name="title-code-license" value="{% t title.codeLicense %}" />
{% endif %}