<input type="hidden" id="title-home" name="title-home" value="{% t title.home %}" />
<input type="hidden" id="title-faq" name="title-faq" value="{% t title.faq %}" />
<input type="hidden" id="title-news" name="title-news" value="{% t title.news %}" />
<input type="hidden" id="title-contact" name="title-contact" value="{% t title.contact %}" />

<input type="hidden" id="title-about" name="title-about" value="{% t title.about %}" />
<input type="hidden" id="title-motivation" name="title-motivation" value="{% t title.motivation %}" />
<input type="hidden" id="title-charter" name="title-charter" value="{% t title.charter %}" />
<input type="hidden" id="title-members" name="title-members" value="{% t title.members %}" />
<input type="hidden" id="title-logo" name="title-logo" logo="{% t title.logo %}" />