<input type="hidden" id="baseurl" name="baseurl" value="{{ site.baseurl }}" />
<input type="hidden" id="is-search-enabled" name="is-search-enabled" value="{{ site.search_enabled }}" />
<input type="hidden" id="is-search-rel-url" name="is-search-rel-url" value="{{ site.search.rel_url }}" />
<input type="hidden" id="search-tokenizer-separator" name="search-tokenizer-separator" value="{{ site.search.tokenizer_separator }}" />
<input type="hidden" id="search-preview-words-before" name="search-preview-words-before" value="{{ site.search.preview_words_before }}" />
<input type="hidden" id="search-preview-words-after" name="search-preview-words-after" value="{{ site.search.preview_words_after }}" />
<input type="hidden" id="search-previews" name="search-previews" value="{{ site.search.previews }}" />

{% if site.search_enabled != false %}
<input type="hidden" id="title-home" name="title-home" value="{% t title.home %}" />
<input type="hidden" id="title-faq" name="title-faq" value="{% t title.faq %}" />
<input type="hidden" id="title-news" name="title-news" value="{% t title.news %}" />
<input type="hidden" id="title-contact" name="title-contact" value="{% t title.contact %}" />

<input type="hidden" id="title-about" name="title-about" value="{% t title.about %}" />
<input type="hidden" id="title-charter" name="title-charter" value="{% t title.charter %}" />

<input type="hidden" id="title-guide" name="title-guide" value="{% t title.guide %}" />
<input type="hidden" id="title-api-doc" name="title-api-doc" value="{% t title.apiDoc %}" />
<input type="hidden" id="title-contribution-guide" name="title-contribution-guide"
    value="{% t title.contributionGuide %}" />

<input type="hidden" id="title-license" name="title-license" value="{% t title.license %}" />
{% endif %}